@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.logo {
  height: 20%;
  align-items: center;
  margin: 10%;
}

.wrapper {
  height: 100%;
  width: 300px;
  position: relative;
}

.wrapper .menu-btn {
  position: absolute;
  left: 20px;
  top: 10px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  height: 45px;
  width: 45px;
  z-index: 9998;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

#btn:checked~.menu-btn {
  left: 270px;
}

.wrapper .menu-btn i {
  position: absolute;
  transform: ;
  font-size: 23px;
  transition: all 0.5s ease;
}

.wrapper .menu-btn i.fa-times {
  opacity: 0;
}

#btn:checked~.menu-btn i.fa-times {
  opacity: 1;
  transform: rotate(-180deg);
}

#btn:checked~.menu-btn i.fa-bars {
  opacity: 0;
  transform: rotate(180deg);
}

#sidebar {
  position: fixed;
  background: #ffffff;
  height: 100%;
  width: 330px;
  overflow: hidden;
  left: -330px;
  transition: all 0.3s ease;
  z-index: 1;
}

#btn:checked~#sidebar {
  left: 0;
}

#sidebar .title {
  line-height: 65px;
  text-align: center;
  padding-right: 20px;
  background: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 600;
  color: #0f0f0f;
  border-bottom: 3px solid rgb(0, 0, 0);
}

#sidebar .list-items {
  position: relative;
  background: #ffffff;
  width: 100%;
  height: 100%;
  list-style: none;
}

#sidebar .list-items .home {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #222;
}

#sidebar .list-items li {
  padding-left: 40px;
  line-height: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #333;
  transition: all 0.3s ease;
}

#sidebar .list-items li:hover {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #222;
}

#sidebar .list-items li:first-child {
  border-top: none;
}

#sidebar .list-items li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
  text-align: justify;
}

#sidebar .list-items li a i {
  margin-right: 20px;
}

#sidebar .list-items .icons {
  width: 100%;
  height: 40px;
  text-align: center;
  position: absolute;
  bottom: 100px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sidebar .list-items .icons a {
  height: 100%;
  width: 40px;
  display: block;
  margin: 0 5px;
  font-size: 18px;
  color: #000000;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #383838;
  transition: all 0.3s ease;
}

#sidebar .list-items .icons a:hover {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #222;
  transform: translateY(-15px);
}


body {
  margin: 0;
}

.wrapper1 {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-10px) scale(2);
  position: relative;
  z-index: -1;
}



.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
  font-family: 'Poppins', sans-serif;
  ;
  color: white;
  font-size: 120px;
  text-align: center;
  text-shadow: 0 0 5px black;
}


section {
  font-size: 2rem;
  padding: 2rem;
  background-color: #333;
  color: white;
  display: block;
}

.end {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='5440' height='660' preserveAspectRatio='none' viewBox='0 0 5440 660'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3crect width='5440' height='660' x='0' y='0' fill='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M165 125.71C128.13 60.85 82.5 40.59 82.5 0C82.5 -22.27 123.75 0 165 0C247.5 0 247.5 0 330 0C412.5 0 412.5 0 495 0C577.5 0 577.5 0 660 0C742.5 0 742.5 0 825 0C907.5 0 907.5 0 990 0C1072.5 0 1072.5 0 1155 0C1237.5 0 1237.5 0 1320 0C1402.5 0 1402.5 0 1485 0C1567.5 0 1567.5 0 1650 0C1732.5 0 1732.5 0 1815 0C1897.5 0 1897.5 0 1980 0C2045.23 0 2110.47 -29.41 2110.47 0C2110.47 44.41 2058.98 120.68 1980 147.63C1911.25 171.09 1882.67 94.63 1815 100.83C1787.89 103.31 1790.43 135.32 1790.43 165C1790.43 180.53 1798.58 184.9 1815 191.25C1893.36 221.56 1897.46 238.18 1980 238.33C2062.46 238.48 2060.93 203.76 2145 191.86C2225.93 180.4 2231.03 202.21 2310 191.61C2331.08 188.78 2345.11 180 2345.11 165C2345.11 147.05 2327.09 145.75 2310 125.71C2256.74 63.25 2204.4 38.25 2204.4 0C2204.4 -24.6 2257.2 0 2310 0C2392.5 0 2392.5 0 2475 0C2557.5 0 2557.5 0 2640 0C2722.5 0 2722.5 0 2805 0C2887.5 0 2887.5 0 2970 0C2999.7 0 3000.45 -5.32 3029.4 0C3082.95 9.85 3081.3 29.38 3135 30.34C3216.6 31.8 3218.49 19.44 3300 4.85C3303.22 4.27 3301.21 0.1 3304.46 0C3383.71 -2.33 3384.73 0 3465 0C3547.5 0 3547.5 0 3630 0C3712.5 0 3712.5 0 3795 0C3877.5 0 3877.5 0 3960 0C4042.5 0 4042.5 0 4125 0C4207.5 0 4207.5 0 4290 0C4372.5 0 4372.5 0 4455 0C4537.5 0 4537.5 0 4620 0C4702.5 0 4702.5 0 4785 0C4867.5 0 4867.5 0 4950 0C5032.5 0 5032.5 0 5115 0C5197.5 0 5197.5 0 5280 0C5362.5 0 5403.75 -41.25 5445 0C5486.25 41.25 5445 82.5 5445 165C5445 247.5 5445 247.5 5445 330C5445 412.5 5445 412.5 5445 495C5445 577.5 5486.25 618.75 5445 660C5403.75 701.25 5362.5 660 5280 660C5197.5 660 5197.5 660 5115 660C5032.5 660 5032.5 660 4950 660C4867.5 660 4867.5 660 4785 660C4702.5 660 4702.5 660 4620 660C4537.5 660 4537.5 660 4455 660C4372.5 660 4372.5 660 4290 660C4223.3 660 4191.67 696.66 4156.6 660C4112.75 614.16 4146.63 576.77 4132.17 495C4130.83 487.4 4132.1 483.9 4125 481.25C4046.01 451.74 4043.59 435.37 3960 430.68C3878.59 426.11 3872.67 437.49 3795 462.72C3773.67 469.65 3762 478.86 3762 495C3762 511.14 3774.64 517.01 3795 527.28C3873.64 566.95 3880.39 555.47 3960 594.87C4014.46 621.83 4063.13 642.35 4063.13 660C4063.13 674.92 4011.57 660 3960 660C3877.5 660 3877.5 660 3795 660C3712.5 660 3712.5 660 3630 660C3547.5 660 3547.5 660 3465 660C3397.31 660 3390.16 674.37 3329.62 660C3307.66 654.79 3316.42 620.85 3300 620.85C3280.98 620.85 3284.73 653.84 3258.75 660C3202.23 673.41 3196.88 660 3135 660C3052.5 660 3052.5 660 2970 660C2887.5 660 2887.5 660 2805 660C2722.5 660 2722.5 660 2640 660C2596.32 660 2594.53 668.59 2552.65 660C2512.03 651.67 2510.62 626.15 2475 626.15C2454.87 626.15 2463.21 655.47 2441.15 660C2380.71 672.4 2375.57 660 2310 660C2230.08 660 2229.8 661.21 2150.16 660C2147.3 659.96 2146.81 659.72 2145 657.5C2079.62 577.22 2069.38 582.24 2015.78 495C1986.88 447.96 1997.99 388.93 1980 388.93C1961.99 388.93 1974.71 449.73 1943.78 495C1892.21 570.46 1887.19 574.81 1815 630.38C1780.02 657.31 1773.38 652.11 1729.44 660C1690.88 666.92 1689.72 660 1650 660C1605.32 660 1604.53 665.68 1560.63 660C1522.03 655.01 1522.2 638.65 1485 638.65C1458.45 638.65 1460.48 656.46 1433.14 660C1377.98 667.14 1376.57 660 1320 660C1237.5 660 1237.5 660 1155 660C1076.63 660 1075.87 662.54 998.25 660C993.37 659.84 993.85 654.59 990 654.59C987.02 654.59 988.36 659.88 984.59 660C905.86 662.58 904.8 660 825 660C742.5 660 742.5 660 660 660C632.5 660 632.34 662.43 605 660C549.84 655.1 547.8 645.33 495 645.33C484.34 645.33 488.92 659.04 478.08 660C406.42 666.37 404.04 660 330 660C247.5 660 247.5 660 165 660C82.5 660 41.25 701.25 0 660C-41.25 618.75 0 577.5 0 495C0 412.5 0 412.5 0 330C0 254.89 -32.47 179.78 0 179.78C47.41 179.78 89.18 250.06 159.76 330C171.68 343.5 160.38 366.67 165 366.67C169.88 366.67 177.67 349.34 178.75 330C183.32 248.51 181.81 246.86 176.3 165C174.93 144.72 175.03 143.35 165 125.71' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M660 95.93C636 95.93 603.96 133.76 603.96 165C603.96 189.82 634.75 208.04 660 208.04C679.46 208.04 693.37 188.27 693.37 165C693.37 132.22 680.7 95.93 660 95.93' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M990 118.15C969.02 118.15 949.63 139.73 949.63 165C949.63 197.66 968.75 234 990 234C1012.08 234 1036.28 197.31 1036.28 165C1036.28 139.39 1012.34 118.15 990 118.15' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1485 31.94C1452.35 31.94 1423.39 95.69 1418.47 165C1412.81 244.72 1435.39 251 1463.85 330C1468.65 343.32 1472.92 349.64 1485 349.64C1504.12 349.64 1519.42 349.88 1526.25 330C1551.15 257.56 1559.4 244.04 1548.46 165C1538.77 95.01 1517.35 31.94 1485 31.94' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M825 307.87C809.45 307.87 795.73 313.71 795.73 330C795.73 385.27 807.39 451 825 451C843.13 451 867.21 382.16 867.21 330C867.21 310.6 845.19 307.87 825 307.87' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1155 298.36C1132.13 298.36 1104.78 314.89 1104.78 330C1104.78 344.62 1131.8 357.83 1155 357.83C1171 357.83 1183.17 344.37 1183.17 330C1183.17 314.63 1171.32 298.36 1155 298.36' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2475 297.72C2457.03 297.72 2450.66 313.46 2450.66 330C2450.66 348.16 2455.82 367.13 2475 367.13C2535.49 367.13 2610 347.43 2610 330C2610 312.72 2536.7 297.72 2475 297.72' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M3135 298.13C3108.74 298.13 3089.02 314.18 3089.02 330C3089.02 345.7 3108.86 361.17 3135 361.17C3209.77 361.17 3290.83 345.75 3290.83 330C3290.83 314.23 3209.65 298.13 3135 298.13' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M3465 317.31C3405.38 317.31 3341.25 324.65 3341.25 330C3341.25 335.34 3404.3 338.68 3465 338.68C3472.52 338.68 3477.69 334.93 3477.69 330C3477.69 324.25 3473.6 317.31 3465 317.31' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M4785 293.02C4751.33 293.02 4711.03 312.11 4711.03 330C4711.03 347.62 4750.99 364.05 4785 364.05C4805.27 364.05 4819.6 347.38 4819.6 330C4819.6 311.87 4805.62 293.02 4785 293.02' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M5115 285C5110.55 285 5105.48 309.32 5105.48 330C5105.48 335.3 5110.36 336.97 5115 336.97C5119.25 336.97 5123.25 334.96 5123.25 330C5123.25 308.98 5119.43 285 5115 285' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M330 428.11C281.41 428.11 217.5 464.99 217.5 495C217.5 523.18 279.12 544.5 330 544.5C357.47 544.5 374.2 521.35 374.2 495C374.2 463.16 359.76 428.11 330 428.11' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2310 447.53C2286.9 447.53 2269.71 469.65 2269.71 495C2269.71 526.7 2285.81 561.63 2310 561.63C2339.27 561.63 2376.63 525.54 2376.63 495C2376.63 468.49 2340.36 447.53 2310 447.53' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2970 441.69C2903.3 441.69 2819.35 468.53 2819.35 495C2819.35 521.43 2903.13 547.5 2970 547.5C2996.89 547.5 3006.86 521.32 3006.86 495C3006.86 468.41 2997.05 441.69 2970 441.69' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M4950 477C4941.78 477 4932.32 486.68 4932.32 495C4932.32 502.28 4941.61 508.2 4950 508.2C4957.14 508.2 4963.38 502.11 4963.38 495C4963.38 486.51 4957.31 477 4950 477' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M232.81 165C232.81 107.04 277.77 107.29 330 57.5C364.32 24.79 363.28 14.85 405.9 0C445.78 -13.9 450.45 0 495 0C577.5 0 653.2 -36.06 660 0C668.76 46.44 526.13 90.37 526.13 165C526.13 224.29 594.54 214.64 660 267.83C696.07 297.14 709.6 289.86 729.19 330C765.03 403.44 738.67 418.39 770.86 495C786.57 532.39 796.74 558 825 558C855.31 558 865.24 532.56 888 495C934.31 418.56 920.21 408.28 963.14 330C971.21 315.28 976.74 309 990 309C1002.73 309 1001.09 321.63 1015.11 330C1083.59 370.9 1090.38 407.53 1155 407.53C1199.57 407.53 1233.48 370.02 1233.48 330C1233.48 287.18 1194.24 285.93 1155 241.85C1120.79 203.43 1121.91 202.38 1086.59 165C1039.41 115.07 1036.63 67.22 990 67.22C946.21 67.22 948.01 116.23 905.74 165C865.51 211.4 866 257.56 825 257.56C782.99 257.56 773.31 217.43 739.72 165C690.81 88.65 637.56 43.41 660 0C680.2 -39.09 742.5 0 825 0C907.5 0 907.5 0 990 0C1072.5 0 1072.5 0 1155 0C1237.5 0 1237.5 0 1320 0C1370.51 0 1415.26 -29.78 1421.02 0C1431.23 52.72 1354.48 81.65 1351.94 165C1349.45 246.65 1368.76 255.87 1410.96 330C1435.29 372.74 1442.72 398.75 1485 398.75C1551.93 398.75 1598.24 387.36 1629.38 330C1661.7 270.48 1627.16 246.29 1611.92 165C1596.22 81.29 1554.66 55.64 1567.5 0C1573.7 -26.86 1608.75 0 1650 0C1697.5 0 1735.57 -29.54 1745 0C1761.9 52.96 1684.85 92.48 1702.66 165C1719.85 234.98 1754.06 230.85 1815 285C1846.9 313.35 1874.89 294.03 1888.33 330C1914.13 399.03 1915.18 421.76 1893.48 495C1878.51 545.51 1863.82 552.69 1815 577.5C1742.08 614.56 1733.14 615.57 1650 618.75C1568.14 621.88 1565.06 581.09 1485 590.12C1400.06 599.7 1402.6 623.33 1320 655.98C1314.21 658.27 1314.41 659.85 1308.21 660C1231.91 661.86 1231.61 660 1155 660C1128.19 660 1125.06 670.48 1101.38 660C1042.56 633.97 1041.93 586.97 990 586.97C949.73 586.97 960.61 640.68 916.97 660C878.11 677.2 870.99 660 825 660C775.79 660 770.14 675.18 726.58 660C687.64 646.43 699.17 620.49 660 602.5C583.38 567.32 568.79 591.06 495 553.67C462.72 537.31 460.58 529.49 447.86 495C419.33 417.66 451.97 388.86 412.5 330C393.04 300.98 358.15 345.09 330 319.24C268.31 262.59 232.81 237.91 232.81 165' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1980 93.36C1922.53 93.36 1855.53 25.93 1855.53 0C1855.53 -20.75 1917.76 0 1980 0C2021.25 0 2062.5 -18.6 2062.5 0C2062.5 28.08 2026.02 93.36 1980 93.36' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2310 27.5C2298.1 14.05 2286.9 8.37 2286.9 0C2286.9 -5.38 2298.45 0 2310 0C2392.5 0 2392.5 0 2475 0C2557.5 0 2557.5 0 2640 0C2722.5 0 2722.5 0 2805 0C2852.77 0 2856.19 -11.82 2900.53 0C2938.69 10.18 2931.54 31.24 2970 44C3048.77 70.12 3051.77 72.33 3135 77.76C3216.77 83.09 3226.78 90.79 3300 65.51C3339.38 51.91 3322.32 15.04 3360.2 0C3404.82 -17.72 3412.6 0 3465 0C3547.5 0 3547.5 0 3630 0C3712.5 0 3712.5 0 3795 0C3877.5 0 3877.5 0 3960 0C4042.5 0 4042.5 0 4125 0C4207.5 0 4207.5 0 4290 0C4372.5 0 4372.5 0 4455 0C4537.5 0 4537.5 0 4620 0C4702.5 0 4702.5 0 4785 0C4842.75 0 4867.39 -33.11 4900.5 0C4949.89 49.39 4925.25 82.5 4950 165C4950 165 4950 165 4950 165C4988.08 247.5 4974.78 258.37 5026.15 330C5057.28 373.41 5071.71 395.07 5115 395.07C5154.63 395.07 5161.41 369.26 5192 330C5243.91 263.39 5232.08 253.07 5280 183.33C5288.77 170.57 5305.38 176.52 5305.38 165C5305.38 147.94 5300.6 133.77 5280 126.18C5205.41 98.7 5188.59 128.83 5115 94.87C5051.87 65.74 5006.57 27.07 5006.57 0C5006.57 -20.37 5060.78 0 5115 0C5197.5 0 5197.5 0 5280 0C5362.5 0 5403.75 -41.25 5445 0C5486.25 41.25 5445 82.5 5445 165C5445 247.5 5445 247.5 5445 330C5445 412.5 5445 412.5 5445 495C5445 577.5 5465 597.5 5445 660C5438.6 680 5416.49 668.6 5392.2 660C5333.99 639.38 5337.35 601.56 5280 601.56C5211.12 601.56 5210.69 634.87 5139.75 660C5128.19 664.09 5127.38 660 5115 660C5032.5 660 5032.5 660 4950 660C4867.5 660 4867.5 660 4785 660C4702.5 660 4702.5 660 4620 660C4537.5 660 4537.5 660 4455 660C4372.5 660 4372.5 660 4290 660C4267.18 660 4244.36 676.34 4244.36 660C4244.36 609.31 4241.37 558.23 4290 525.94C4346.69 488.29 4382.34 492.86 4455 520.11C4547.34 554.74 4556.77 656.69 4620 649.69C4670.21 644.13 4634.28 558.52 4681.88 495C4716.78 448.43 4736.08 429.52 4785 429.52C4824.47 429.52 4820.41 464.01 4858.66 495C4902.91 530.85 4906.68 563.2 4950 563.2C4986.91 563.2 5019.12 531.75 5019.12 495C5019.12 451.15 4986.32 447.07 4950 402C4919.83 364.57 4918.64 365.48 4886.13 330C4836.14 275.43 4845.12 230.29 4785 221.9C4712.05 211.73 4702.55 257.52 4620 292.88C4576.38 311.57 4569.54 302.03 4532.65 330C4487.04 364.59 4503.72 388.69 4455 418C4382.4 461.67 4356.23 497.74 4290 475.96C4222.44 453.74 4215.99 410.73 4187.43 330C4160.99 255.25 4201.56 239.07 4180 165C4170.34 131.82 4150.48 115.5 4125 115.5C4103.18 115.5 4097.78 136.27 4085.4 165C4051.58 243.52 4075.69 262.73 4032.6 330C4012.99 360.61 3996.96 347.09 3960 360.76C3878.16 391.03 3869.72 376.74 3795 417.88C3747.81 443.86 3716.17 456.44 3716.17 495C3716.17 533.56 3751.41 538.8 3795 572.12C3859.34 621.3 3932.03 636.14 3932.03 660C3932.03 680.08 3863.52 660 3795 660C3712.5 660 3712.5 660 3630 660C3547.5 660 3547.5 660 3465 660C3423.75 660 3413.54 680.52 3382.5 660C3331.04 625.98 3345.73 550.93 3300 550.93C3247.02 550.93 3247.77 618.57 3185.09 660C3165.27 673.1 3160.05 660 3135 660C3052.5 660 3052.5 660 2970 660C2887.5 660 2887.5 660 2805 660C2751.19 660 2743.71 677.24 2697.39 660C2661.21 646.54 2675.05 620.6 2640 598.6C2563.85 550.79 2553.4 564.51 2475 520.38C2461.38 512.71 2455.96 507.63 2455.96 495C2455.96 482.57 2461.21 476.93 2475 470.25C2553.23 432.38 2567.51 451.42 2640 405.9C2679.2 381.29 2698.38 370.14 2698.38 330C2698.38 279.48 2687.01 250.24 2640 224.58C2575.32 189.26 2550.97 229.89 2475 208.04C2447.41 200.1 2453.18 187.22 2432.87 165C2370.68 96.95 2371.09 96.55 2310 27.5' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M3630 79.66C3575.91 82.64 3584.62 125.19 3534.81 165C3502.12 191.13 3503.08 194.66 3465 211.54C3385.68 246.7 3384.63 258.9 3300 269.08C3219.63 278.75 3211 234.63 3135 251.25C3071.7 265.09 3076.03 287.95 3021.39 330C2993.53 351.44 3001.06 362.93 2970 378.23C2892.86 416.24 2882.86 398.88 2805 436.62C2762.41 457.27 2729.1 463.9 2729.1 495C2729.1 528.89 2759.29 544.78 2805 566.6C2879.74 602.28 2902.62 629.63 2970 610C3025.49 593.83 3006.55 549.36 3050.74 495C3089.05 447.86 3082.16 422.9 3135 407C3206.79 385.4 3217.43 418.99 3300 420C3382.43 421.01 3389.15 435.13 3465 411.05C3530.88 390.13 3531.39 377.6 3583.46 330C3613.89 302.17 3596.95 284.03 3630 260.19C3702.72 207.75 3713.5 220.38 3795 177.45C3803.85 172.79 3810.71 171.5 3810.71 165C3810.71 158.1 3804.57 155.17 3795 150.65C3714.21 112.5 3706 75.47 3630 79.66' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 241.34C27.98 241.34 75.68 274.3 94.29 330C118.05 401.13 64.6 420.75 84.73 495C99.95 551.15 112.85 562.74 165 590.81C235.48 628.74 251.33 600.74 330 627C354.99 635.34 372.31 650.77 372.31 660C372.31 667.27 351.15 660 330 660C247.5 660 247.5 660 165 660C82.5 660 41.25 701.25 0 660C-41.25 618.75 0 577.5 0 495C0 412.5 0 412.5 0 330C0 285.67 -19.17 241.34 0 241.34' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2019.92 330C2038.76 269.54 2075.16 257.13 2145 239.83C2220.2 221.2 2236.4 230.27 2310 258.15C2355.42 275.36 2383.03 295.56 2383.03 330C2383.03 362 2343.15 357.12 2310 391.03C2262.5 439.62 2264.61 442 2221.74 495C2182.11 543.99 2183.8 595 2145 595C2105.67 595 2092.21 551.63 2065.48 495C2029.67 419.13 1999 397.12 2019.92 330' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2279.06 660C2279.06 654.86 2294.97 640.96 2310 640.96C2323.13 640.96 2335.38 654.71 2335.38 660C2335.38 664.23 2322.69 660 2310 660C2294.53 660 2279.06 664.38 2279.06 660' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M289.32 165C289.32 140.74 305.42 120 330 120C370.76 120 420 138.92 420 165C420 193.71 368.69 229.57 330 229.57C303.35 229.57 289.32 195.52 289.32 165' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M495 19.41C490.56 19.41 488.4 7.34 488.4 0C488.4 -2.36 491.7 0 495 0C501.11 0 507.22 -3.37 507.22 0C507.22 6.33 499.97 19.41 495 19.41' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M786.07 165C757.96 87.67 736.21 57.06 749.67 0C755.67 -25.44 787.34 0 825 0C907.5 0 907.5 0 990 0C1011.29 0 1032.58 -3.94 1032.58 0C1032.58 4.21 1006.09 0.75 990 16.3C920.73 83.25 926.03 90.74 861.86 165C843.53 186.22 843.72 207.26 825 207.26C805.82 207.26 795.63 191.3 786.07 165' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1136.89 165C1136.89 143.42 1138.81 118.59 1155 118.59C1181.62 118.59 1222.5 147.06 1222.5 165C1222.5 180.44 1185.88 185.34 1155 185.34C1143.07 185.34 1136.89 176.8 1136.89 165' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1320 45.83C1307.79 45.83 1290.54 14.87 1290.54 0C1290.54 -8.04 1305.27 0 1320 0C1328.42 0 1336.84 -5.88 1336.84 0C1336.84 17.04 1330.94 45.83 1320 45.83' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1980 39.08C1955.94 39.08 1927.89 10.86 1927.89 0C1927.89 -8.68 1953.95 0 1980 0C1997.26 0 2014.53 -7.78 2014.53 0C2014.53 11.76 1999.26 39.08 1980 39.08' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2698.24 165C2709.13 86.71 2738.74 32.54 2805 19.8C2874.62 6.41 2881.94 84.63 2970 112.75C3046.94 137.32 3052.38 121.81 3135 125.17C3217.38 128.52 3220.08 113.6 3300 126.18C3346.58 133.51 3388 145.22 3388 165C3388 184.94 3346.81 198.34 3300 205.62C3220.31 218.02 3212.55 184.45 3135 204.37C3047.55 226.84 3049.14 242.61 2970 290.4C2945.12 305.42 2952.65 317.12 2926.96 330C2870.15 358.49 2861.09 373.15 2805 373.15C2778.54 373.15 2775.54 356.7 2761.85 330C2722.16 252.63 2687.55 241.81 2698.24 165' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M3465 100.83C3430.88 100.83 3415.95 35.07 3415.95 0C3415.95 -15.34 3440.48 0 3465 0C3520 0 3575 -21.39 3575 0C3575 29.02 3510.41 100.83 3465 100.83' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M3795 60.98C3748.76 25.35 3694.82 16.44 3694.82 0C3694.82 -14.05 3744.91 0 3795 0C3877.5 0 3877.5 0 3960 0C4042.5 0 4042.5 0 4125 0C4186.88 0 4248.75 -3.09 4248.75 0C4248.75 3.1 4172.8 -19.7 4125 12.38C4049.88 62.8 4059.33 85.63 4002.9 165C3976.83 201.66 3982.96 244.44 3960 244.44C3935.98 244.44 3940.26 199.83 3908.93 165C3857.76 108.1 3855.82 107.85 3795 60.98' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M4296.88 165C4296.88 118.98 4377.67 122.57 4455 74.64C4510.78 40.07 4505.53 26.04 4563.1 0C4588.03 -11.28 4591.55 0 4620 0C4702.5 0 4702.5 0 4785 0C4791.19 0 4797.38 -5.07 4797.38 0C4797.38 25.87 4799.46 34.57 4785 61.88C4755.77 117.07 4757.63 128.09 4710 165C4675.13 192.02 4663.65 173.51 4620 189.75C4536.15 220.95 4534.64 265.98 4455 259.88C4373.08 253.61 4296.88 211.6 4296.88 165' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M5445 129.64C5423.72 129.64 5366.09 42.65 5366.09 0C5366.09 -22.17 5430.07 -24.53 5445 0C5469.53 40.29 5463.18 129.64 5445 129.64' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 302.91C8.55 302.91 28.81 312.37 28.81 330C28.81 379.3 7.33 436.76 0 436.76C-7.08 436.76 0 383.38 0 330C0 316.46 -5.86 302.91 0 302.91' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M652.83 330C654.89 326.87 656.66 327.61 660 327.61C661.58 327.61 662.18 328.28 662.66 330C685.39 411.98 707.37 418.84 706.41 495C706.04 523.84 687.55 540 660 540C609.35 540 551.36 534.84 550 495C547.78 429.84 599.89 410.56 652.83 330' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1283.78 330C1313.59 289.7 1301.49 234.19 1320 234.19C1338.64 234.19 1327.3 290.14 1358.08 330C1409.8 396.97 1410.34 420.63 1485 447.86C1556.3 473.86 1567.95 446 1650 436.45C1732.95 426.79 1752.23 390.41 1815 409.44C1848.82 419.69 1843.17 455.39 1843.17 495C1843.17 512.98 1834.16 520.87 1815 524.62C1737.57 539.78 1732.49 528.57 1650 532.81C1567.49 537.05 1567.41 535.96 1485 541.59C1402.41 547.24 1401.42 541.91 1320 555.37C1236.42 569.18 1234.68 604.83 1155 596.13C1069.68 586.81 1070.02 561.49 990 519.34C974.02 510.92 963 509.77 963 495C963 470.1 964.11 445.09 990 440C1060.11 426.21 1084.76 483.53 1155 457.23C1231.65 428.53 1231.09 401.22 1283.78 330' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2086.45 330C2090.94 298.8 2111.56 288.59 2145 287.79C2223.33 285.93 2228.45 304.48 2310 324.68C2313.66 325.59 2315.41 327.45 2315.41 330C2315.41 332.37 2312.29 331.85 2310 334.52C2241.48 414.35 2241.15 414.16 2173.78 495C2158.65 513.15 2159.55 532.5 2145 532.5C2130.25 532.5 2121.69 517.52 2115.18 495C2092.42 416.27 2076.03 402.4 2086.45 330' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M3690.79 330C3690.79 298.67 3742.9 255.28 3795 255.28C3847.1 255.28 3899.21 298.67 3899.21 330C3899.21 357.55 3847.1 373.04 3795 373.04C3742.9 373.04 3690.79 357.55 3690.79 330' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M5260.75 330C5274.27 317.28 5265.89 297.92 5280 297.92C5305.91 297.92 5335.44 301.24 5340.79 330C5353.77 399.78 5340.94 420.89 5316.67 495C5310.55 513.7 5299.68 508.38 5280 515.63C5198.85 545.51 5184 576.19 5115 569.25C5081.43 565.87 5074.86 529.41 5074.86 495C5074.86 471.37 5093.34 472.39 5115 453.17C5186.29 389.89 5191.77 394.9 5260.75 330' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2624.29 495C2624.29 491.48 2632.79 488.4 2640 488.4C2643.95 488.4 2646.6 491.58 2646.6 495C2646.6 498.71 2644.09 502.67 2640 502.67C2632.93 502.67 2624.29 498.61 2624.29 495' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M3094.63 495C3094.63 469.35 3109.37 452.83 3135 452.83C3197.32 452.83 3270.54 459.01 3270.54 495C3270.54 541.31 3186.56 617.42 3135 617.42C3098.61 617.42 3094.63 551.64 3094.63 495' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M3391.67 495C3396.16 468.24 3431.21 497.71 3465 483.42C3550.38 447.3 3564.98 390.5 3630 394.17C3667.64 396.29 3638.67 452.25 3670.33 495C3721.17 563.65 3729.19 560.34 3795 616.96C3825.09 642.84 3862.12 648.32 3862.12 660C3862.12 669.84 3828.56 660 3795 660C3712.5 660 3712.5 660 3630 660C3547.5 660 3547.5 660 3465 660C3450.19 660 3440.8 672.2 3435.38 660C3404.14 589.7 3381.35 556.53 3391.67 495' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M798.95 660C798.95 652.03 812.2 633 825 633C837.4 633 849.34 651.91 849.34 660C849.34 665.41 837.17 660 825 660C811.97 660 798.95 665.53 798.95 660' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2787.07 660C2787.07 655.56 2793.93 644.43 2805 644.43C2844.14 644.43 2887.5 656.07 2887.5 660C2887.5 663.86 2846.25 660 2805 660C2796.03 660 2787.07 663.35 2787.07 660' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M4366.15 660C4366.15 646.58 4412.79 609.78 4455 609.78C4487.61 609.78 4515.79 645.82 4515.79 660C4515.79 670.93 4485.4 660 4455 660C4410.58 660 4366.15 671.69 4366.15 660' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M4852.03 660C4852.03 649.11 4902.03 618.2 4950 618.2C4989.24 618.2 5026.46 648.87 5026.46 660C5026.46 669.77 4988.23 660 4950 660C4901.01 660 4852.03 670.01 4852.03 660' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='5440' height='660' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  color: white;
  height: 12%;
  text-align: center;
}

.addr {
  float: left;
  font-size: 2rem;
  background-color: #333;
  color: white;
  padding: left 20px;
}

iframe {
  margin-left: 10%;
}

.contact-form div {
  font-size: 28px;
  letter-spacing: 6px;
  color: #000000;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  padding-left: 60%;
  white-space: nowrap;
  margin: 3%;
  font-family: 'Poppins', sans-serif;
}

.contact-form {
  display: inline-block;
  position: absolute;
  top: 102%;
  right: 0;
  transform: translateX(260px);
  width: 300px;
  background-color: #f2f2f2;
  padding: 12px;
  border-radius: 2%;
  transition: all 0.7s ease;
  font-family: 'Poppins', sans-serif;
  color: #000000;
}

.contact-form label {
  display: block;
  font-family: 'Poppins', sans-serif;
  margin-left: 10%;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 80%;
  padding: 5px;
  margin-left: 10%;
  border: none;
  border-radius: 5px;
}

.contact-form textarea {
  height: 80px;
}

.contact-form input[type="submit"] {
  box-shadow: 0 0 20px 9px #ff61241f;
  background: linear-gradient(to right, rgb(232, 76, 193), rgb(82, 68, 231));
  border-radius: 30px;
  color: #000000;
  border: none;
  cursor: pointer;
  margin-left: 10%;
  padding: 4%;
}

.contact-form:hover {
  transform: translateX(-40px);
  transition: all 0.5s ease;
}
